



#lookUp {
	color: black;
	font-size: 25px;
}
.popover {
	font-size: 10px;
	width:100%;
}

.popover-content {
	font-size: 10px;
	background-color: black;
	
	border: 1px solid #d6851d;
}

.popover-title {
	color: black;
	background-color: black;
	border-bottom: none;
	border: 1px solid #d6851d;
}


strong {
	font-family: Permanent Marker;
	font-size: 40px;
	color: #d6851d;
}

.row{
	padding: 0px;
	background-color: #080c21;
}


#masteredWords {
	font-size: 30px;
	background-color:  #041e47;
	text-align: center;
	border: 4px solid black;
	color: white;
	margin-left: 5px;
	margin-bottom: 60px;
	box-shadow: 0px 5px 0px #d6851d;
}


#passedTest {
	font-size: 30px;
	background-color:  #041e47;
	text-align: center;
	border: 4px solid black;
	color: white;
	margin-right: 5px;
	margin-bottom: 60px;
	box-shadow: 0px 5px 0px #d6851d;
}

#example3 {
	font-size: 30px;
	background-color:  #041e47;
	text-align: center;
	border: 4px solid black;
	color: white;
	margin-right: 5px;
	margin-bottom: 60px;
	box-shadow: 0px 5px 0px #d6851d;
}
	
	

#rightBox {
	margin-top: 0px;
	font-family: Lobster;
	padding:10px;
}
	
#leftBox {
	text-align: center;
	color: white;
	font-family: Lobster;
	margin-top: 0px;
	padding: 10px;
}



.examples {
	font-size: 60px;
	color: white;
	text-align: center;
}

#example1{
	background-color: #041e47;
	border: 4px solid  black;
	margin-left: 5px;
	margin-bottom: 60px;
	box-shadow: 0px 5px 0px #d6851d;
}

#example2{
		margin-left: 5px;
		border: 4px solid  black;
		background-color: #041e47;
		box-shadow: 0px 10px 0px #d6851d;
}
	
	


#table{
	margin-top: 10px;
	border: 4px solid #041e47;
	background-color: black;
	
}





#tableBox {
	width: 80%;
	margin-left: 5%;
	margin-top: 8%;
	padding: 0px;
}






.container {
	padding: 0px;
}



#list {
	width:100%;
}

#createList {
	width: 100%;
	height: 3%;
	margin-top: 4%;
}


#status {
	position: relative;
	width: 20px;
	height: 20px;
	border: 4px solid #041e47;
	border-radius: 20px;
	background-color: green;
	float: right;
	right: 10px;
	margin-top: 3px;
}


.table-hover tbody tr:hover td{
  background-color: #d6851d;
}








thead {
	font-size: 30px;
}


#createList button{
	font-family: Nunito Sans;
	outline: none;
	font-size: 120%;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #202123;
	color: white;
	font-weight: bold;
}



td {
	background-color: #041e47;
	border: 1px solid black;
	border-radius: 8px;
	color: white;
	font-size: 17px;
	text-align: center;
}

#word{
	background: #2679ff;
	background-color: #202123;
	border: none;
	text-align: center;
	color: white;
}



#createList button:hover{
	cursor: pointer;
	background-color: #041e47;
}

#lookUp:hover {
	cursor: pointer;
}


@media (min-width: 800px) {  
td {font-size: 30px;} 

#tableBox {
	margin-left: 10%;
}
}





