body {
	animation-name: greyToBlack;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	background-color: #323438;
	font-family: Abril Fatface;
}




	
	

@keyframes greyToBlack{
	25%{background-color: #323438;}
	75%{background-color: #09090a;}
	100%{background-color: #323438;}
	
}

.body-container {
	height:300%;
	border-left: 50px solid #041e47;
	border-right: 50px solid #041e47;
}



#status {
	position: relative;
	width: 20px;
	height: 20px;
	border: 4px solid #041e47;
	border-radius: 20px;
	background-color: green;
	float: right;
	right: 10px;
	margin-top: 3px;
}



#table {
	animation-name: animateBorder;
	animation-duration: 40s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position: absolute;
	border: 4px solid #041e47;
	background-color: #395f7c;
	border-radius: 15px;
	margin-left: 110px;
	margin-top: 250px;
	width: 40%;	
	height:1100px;
	box-shadow: 0px 20px 20px #000000;
}


@keyframes animateBorder{
	25%{border: 4px solid #041e47}
	75%{border: 4px solid #d6851d;}
	25%{border: 4px solid #041e47}
}



.legend {
	animation-name: animateBorder;
	animation-duration: 40s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position:absolute;
	border: 4px solid #041e47;
	background-color: #395f7c;
	border-radius: 15px;
	margin-left:50px;
	margin-top:	7px;
	width:28%;
	height:45px;
}


	



.legendContainer{
	font-family: Abril Fatface;
	position:relative;
	margin-top: 0px;
	margin-left: 0px;
	color: white;
	text-size: 12px;
}

#legendHeader {
	font-family: Abril Fatface;
	position:absolute;
	margin-left: 190px;
	margin-top: 10px;
	font-size: 22px;
}
.statusName {
	position:absolute;
	font-size: 20px;
	margin-top: 5px;
}

.meaning{
	position: absolute;
	margin-top:12px;
	width: 20px;
	height: 20px;
	border: 2px solid black;
	border-radius: 30px;
}

#mastered{
	margin-left: 45px;
}

#total{
	color: #d6851d;
	position:absolute;
	text-size: 10px;
	margin-top: -13px;
	margin-left: 210px;
}
	
#green {
	position:absolute;
	background-color: green;;
	margin-left: 10px;
}

#red {
	position:absolute;
	background-color: red;
	margin-left: 610px;
}

#yellow {
	background-color: yellow;
	margin-left: 360px;
}

#good{
	margin-left: 300px;
}

#needsWork{
	margin-left: 480px;
}
	


	
	






#createList {
	margin-left: 0px;
}

#greeting {
	animation-name: animateGreeting;
	animation-duration: 60s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	position: absolute;
	border-top: 4px solid #395f7c;
	border-bottom: 4px solid #395f7c;
	border-right: 4px solid #041e47;
	border-left: 4px solid #041e47;
	border-radius: 50px;
	margin-top: 150px;
	width:80%;
	text-align: center;
	font-family: Abril Fatface, Monospace;
	margin-left: 110px;
	font-size: 40px;
	background-color: #323438;
	box-shadow: 0px 10px 10px #000000;
	color: white;
}

@keyframes animateGreeting{
	25%{border-left: 4px solid #041e47; border-right: 4px solid #041e47; }
	75%{border-left: 4px solid #d6851d; border-right: 4px solid #d6851d;}
	25%{border-left: 4px solid #041e47; border-right: 4px solid #041e47;}
}


	

strong {
	position: relative;
	color: white;
	margin-left: 30px;
}



#content button{
	position: absolute;
	font-family: Nunito Sans;
	outline: none;
	margin-top: 20px;
	margin-left: 20px;
	width: 90%;
	font-size: 120%;
	height: 30px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #202123;
	color: white;
	font-weight: bold;
}

#list {
	position:absolute;
	font-family: Abril Fatface;
	table-layout: fixed;
	margin-top: 75px;
	margin-left: 20px;
	background-color: #202123;
	width: 90%;
}




td {
	background-color: #041e47;
	border: 1px solid black;
	border-radius: 8px;
	color: white;
	font-size: 20px;
}

#word, #def{
	background: #2679ff;
	background-color: #202123;
	border: none;
}


#header #justTerms div{
	color: #395f7c;
}


#content button:hover{
	cursor: pointer;
	margin-top: 15px;
	box-shadow: 0 6px 10px #000000;
}





