{% extends "base.html" %}

{%block css %}<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/justTerms.css"> 
  <link href="https://fonts.googleapis.com/css?family=Abril Fatface" rel="stylesheet" type="text/css">
   <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}HomePage{% endblock %}
{% block userName %}Welcome, {{user.first_name}}{% endblock %}

{% block content %}

	<div class="container" id="tableContainer">
		<div class="row">
			<div class="col-sm-12 col-md-3" id="leftBox">
				<div id="passedTest">You've passed <strong>{{totalPassedTest}}</strong> out of <strong>{{totalTestTaken}}</strong> test taken!</div>
				<div id="testScore">Test score for this word list: <strong id="currentTestScore">{{test_score}}</strong> </div>
				<div id="lastTestScore">You made a <strong id="passScore">{{last_test_score}}</strong> on your last test!</div>
			</div>
			<div class="col-sm-12 col-md-6" id="table">
				<div class="text" id="createList">
					<button class="btn btn-outline mb1 navy" onclick="createList();" id="createNewList">Create New Word List<span class="glyphicon glyphicon-lock" id="lock"></span></button>
				</div>
				<div class="text" id="tableBox">
					<Table id="list" class="table-hover table table-bordered">
						<thead class="thead-inverse">
							<tr>
								<th id="word">Words</th>
							</tr>
						</thead>
						{% if words.count > 0 %}
							{% for word in words %}
								{% if word in mastered_Words %}
									<tr>
										<td>{{ word.value}}<span id="lookUp" class="glyphicon glyphicon-book" data-toggle="popover" data-placement="right" title="Word Definition:" data-content="{{word.definition.value}}"></span><span id="status"></span></td>
									</tr>
								{% else %}
									<tr>
										<td>{{ word.value}}<span id="lookUp" class="glyphicon glyphicon-book" data-toggle="popover" data-placement="right" title="Word Definition:" data-content="{{word.definition.value}}"></span></td>
									</tr>
								{% endif %}
							{% endfor %}
						{% else %}
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
							<tr><td></td><td></td></tr>
						{%  endif %}
					</table>
				</div>
			</div>
			<div class="col-sm-12 col-md-3" id="rightBox">
				<div id="masteredWords"> You've mastered <strong>{{masteredWordCount}}</strong> out of <strong>{{wordTotal}}</strong> possible words!</div>
				<div class="text examples" id="example1">This is an example div to test the layout!</div>
				<div class="text examples" id="example2">Another example!</div>
			</div>
		</div>
	</div>
	
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
<script type="text/javascript" src="static/createList.js"></script>
<script type="text/javascript" src="static/lockEvaluator.js"></script>
<script> window.onload = lockEvaluator;</script>
{% endblock %}