{% extends "base.html" %}

{%block css %}
<link rel="stylesheet" type="text/css" href="static/css/study.css"> <link href="https://fonts.googleapis.com/css?family=Abril Fatface" rel="stylesheet" type="text/css">{% endblock %}

{% block title %}Study{% endblock %}

{% block content %}
	<div id="buttons">
		<button class="btn btn-primary" id="flash">Flash</button>
		<button class="btn btun-primary" id="table">Table</button>
	</div>
	<div id="controls">
		<div id="Previous">
			<button><span id="prev"class="button glyphicon glyphicon-circle-arrow-left"></span></button>
		</div>
		<div id="Next">
			<button onclick="Next()"><span id="next" class="button glyphicon glyphicon-circle-arrow-right"></span></button>
		</div>
	</div>
	<div id="frame" onclick="Flip()">
		{% for word in words %}
			<div class="word">
				{{word.value}}
			</div>
			<div class="definition">
				{{word.definition.value}}
			</div>
		{% endfor %}
	</div>


	
	
<script type="text/javascript" src="static/hide.js">
window.onload = hideAll();
</script>
<script type="text/javascript" src="static/next.js"></script>
<script type="text/javascript" src="static/flip.js"></script>
{% endblock %}